@import "./fonts.scss";

$red: #cf1b1b;
$redBg: #ffe1e1;
$blue: #6750a4;
$blueBg: #e6ddff;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

button,
input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f3edf7;
  padding: 18px;
  height: 70px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #9d9d9d;
    width: 60%;
  }

  &__lang {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-align: center;
    color: #1c1b1f;
  }

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-align: center;
    color: #1c1b1f;
  }
}

.notes {
  margin-top: 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-weight: 400;
      font-size: 22px;
      line-height: 127%;
      color: #323232;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      border-radius: 16px;
      padding: 16px 20px 16px 16px;
      width: 121px;
      height: 56px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3),
        0 4px 8px 3px rgba(0, 0, 0, 0.15);
      background: #fffbfe, rgba(103, 80, 164, 0.11);

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        text-align: center;
        color: $blue;
      }
    }
  }

  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    transform: scale(1);
    

    &.active {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    border-radius: 16px;
    width: 100%;
    height: 195px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
      0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background: #fffbfe, rgba(103, 80, 164, 0.05);
    padding: 16px;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #1c1b1f;
      max-width: 300px;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-date {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      color: #cac4d0;
    }

    &-info-box {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      color: #cac4d0;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      color: #49454f;
      max-width: 300px;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      text-align: center;
      padding: 12px;
      transition: all 400ms;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  &__noitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 50px;
    position: relative;
  }
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.35);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__box {
    border-radius: 28px;
    max-width: 312px;
    width: 100%;
    background: rgb(238, 232, 244);
    padding: 24px;
    cursor: context-menu;

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 133%;
      color: #1c1b1f;
    }

    &-fields {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 24px 0;

      label {
        position: relative;

        input {
          &:focus~span {
            transform: translate(-15px, -23px);
          }

          width: 100%;
          background: #e7e0ec;
          border-radius: 4px 4px 0 0;
          height: 56px;
          padding: 23px 16px 9px 16px;
          border-bottom: 1px solid #1c1b1f;

          &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: #49454f;
          }
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 133%;
          letter-spacing: 0.03em;
          color: $blue;
          position: absolute;
          top: 8px;
          left: 16px;
          transition: 400ms;
        }
      }
    }

    &-btns {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }

    &-btn {
      padding: 10px 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.blue {
  color: $blue;
  cursor: pointer;

  &:hover {
    background: $blueBg;
    border-radius: 5px;
  }
}

.red {
  color: $red;
  cursor: pointer;

  &:hover {
    background: $redBg;
    border-radius: 5px;
  }
}


// Crystal Start

.z {
  position: absolute;
  font-size: 42px;
  opacity: 0;
}

.z-1 {
  animation: swayUpToRight 2s ease-out infinite;
}

.z-2 {
  animation: swayUpToRight 2s ease-out 0.5s infinite;
}

.z-3 {
  animation: swayUpToRight 2s ease-out 1s infinite;
}

.z-4 {
  animation: swayUpToRight 2s ease-out 1.5s infinite;
}

.z__title {
  font-size: 88px;
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 49%;
  display: inline-block;
  animation: wobbleVibrate 0.3s infinite ease-in-out;
  transform-origin: center;
}

@keyframes wobbleVibrate {
  0% {
    transform: rotate(-65deg) translate(0px, 0px);
  }

  25% {
    transform: rotate(-67deg) translate(-1px, 1px);
  }

  50% {
    transform: rotate(-63deg) translate(1px, -1px);
  }

  75% {
    transform: rotate(-66deg) translate(-1px, -1px);
  }

  100% {
    transform: rotate(-65deg) translate(1px, 1px);
  }
}

.z__container {
  z-index: 2;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

@keyframes swayUpToRight {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translate(80px, -100px) rotate(30deg);
    opacity: 0;
  }
}


// Crystal End

// EditBtn Start

.editBtn {
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: rgba(103, 80, 164, 0.11);
  width: 56px;
  height: 56px;
  border-radius: 16px;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(89, 62, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: $blue;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
  fill: white;
}
.editBtn::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}


// EditBtn End
